  .wrapper {
      width: 100%;
  }
  
  .action-details {
      min-height: 150px;
  }
  /*.rule-details{
    border: 3px solid #607d8b;
  }
  .design-rule{
    border: 2px solid #2b5ea2;
  }*/
  /* .rule-details .card-header > a {
      float: left;
  }
  
  .rule-details .card-header > button {
      float: right;
      margin-left: 10px!important;
  }*/
  
  .rule-details .rule-text {
      background-color: #FFF;
  }
  
  .rule-action-fields .rule-formula {
      margin-top: 20px;
  }
  /*  #add-rule-header .blank-card {
    margin-bottom: 0!important;
  }
*/
  
  .rule-group-details,
  .rule-details,
  .rule-action-fields {
      margin: 20px 0;
  }
  
  .rule-details div:last-child {
      margin-top: 10px;
  }
  
  .rule-condition {
      margin-bottom: 20px;
  }
  
  .rule-action-header {
      margin-bottom: 40px;
  }
  
  .rule-group-header,
  .rule-details #headingTwo,
  .rule-condition,
  .rule-action-header,
  .condtions-and-actions {
      border-top: 2px dotted #000;
      position: relative;
      text-align: left;
  }
  
  .rule-group-details h5,
  .rule-details #headingTwo h5,
  .rule-condition h5,
  .rule-action-header h5,
  .condtions-and-actions h5 {
      background: white;
      position: absolute;
      top: -12px;
      padding: 0 10px 0 0;
  }
  
  .condtions-and-actions h6 {
      margin-top: 20px;
  }
  
  .ng-isolate-scope {
      margin-bottom: 10px;
  }
  
  .rule-actions {
      margin: 40px 0;
  }
  
  .top-container{
  padding-top : 20px;}
