<blank-card id="add-rule">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="css/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/ruleEngine.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.js"></script>
    <link rel="import" href="/bower_components/px-view-header/px-view-header.html" />
      <img alt="" class="loading_image" ng-show="isLoading" src="images/25.gif">
    <div class="wrapper">
        <div ng-controller="QueryBuilderCtrl">
            <div role="tablist" aria-multiselectable="true" class="top-container">
                <!-- <px-view-header title="Add New Rule Group">
                 
                </px-view-header> -->
               
                <div class="rule-group-details">
                    <div class="rule-group-header" role="tab" id="headingThree">
                        <h5 class="mb-0 epsilon">Rule Group Details</h5>
                    </div>
                    <div id="collapseThree" class="clearfix " role="tabpanel" aria-labelledby="headingThree">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix rule-group-details">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <label>
                                    Rule Group Name
                                </label>
                                <input class="wrapper" type="text" name="ruleGroupName" ng-model="ruleGroupName" ng-minlength="3" ng-maxlength="20" />
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <label>
                                    Rule Group Description
                                </label>
                                <input class="wrapper" type="text" name="ruleGroupDescription" ng-model="ruleGroupDescription" ng-minlength="3" ng-maxlength="40" />
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <label>
                                    Version
                                </label>
                                <input class="wrapper" type="text" name="version1" ng-model="ruleGroupVersion" ng-minlength="3" ng-maxlength="10" />
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <label>
                                    Start Date
                                </label>
                                <input class="wrapper" type="text" ng-model="ruleGroupStartDate" datepicker />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rule-details clearfix">
                    <div class="" role="tab" id="headingTwo">
                        <h5 class="mb-0 epsilon">Rule Details</h5>
                        <!--                         <button type="button" class="btn btn-danger" ng-click="removeRuleDetails()"><span class="glyphicon glyphicon-minus-sign"></span></button>
                        <button type="button" class="btn btn-success" ng-click="addRuleDetails()"><span class="glyphicon glyphicon-plus-sign"></span></button> -->
                    </div>
                    <div id="collapseTwo" class="" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rule-details clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <label>
                                    Rule Name
                                </label>
                                <input class="wrapper" type="text" name="ruleName" ng-model="ruleName" ng-minlength="3" ng-maxlength="20">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <label>
                                    Rule Description
                                </label>
                                <input class="wrapper" type="text" name="ruleDescription" ng-model="ruleDescription" ng-minlength="3" ng-maxlength="10">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <label>
                                    Version
                                </label>
                                <input class="wrapper" type="text" name="version2" ng-model="ruleVersion" ng-minlength="3" ng-maxlength="10">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <label>
                                    Rule Valid From
                                </label>
                                <input class="wrapper" type="text" ng-model="ruleValidFrom" datepicker />
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <label>
                                    Rule Valid To
                                </label>
                                <input class="wrapper" type="text" ng-model="ruleValidTo" datepicker />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="design-rule">
                    <div class="rule-condition" role="tab" id="headingOne">
                        <h5 class="mb-0 epsilon">RULE CONDITION</h5>
                    </div>
                    <query-builder group="jsonObjCond.group"></query-builder>
                    <div class="rule-actions">
                        <div class="rule-action-header" role="tab" id="headingOne">
                            <h5 class="mb-0 epsilon">RULE ACTION</h5>
                        </div>
                        <div class="rule-action-fields clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <label>
                                        Select Action Type
                                    </label>
                                    <select ng-options="p.value as p.label for p in ruleAction" ng-model="selectedAction1" ng-change="onActionChange1(selectedAction1)" class="form-control input-sm">
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <label>
                                        Select Action
                                    </label>
                                    <select ng-options="p.value as p.label for p in ruleFormula" ng-model="selectedFormula1" ng-change="onFormulaChange1(selectedFormula1)" class="form-control input-sm">
                                    </select>
                                    <div class="rule-formula"  ng-hide="ruleCalculate.hide">
                                        <select ng-options="p.value as p.label for p in ruleFormula" ng-model="selectedFormula2" ng-change="onFormulaChange2(selectedFormula2)" class="form-control input-sm">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="condtions-and-actions" role="tab" id="headingOne">
                        <h5 class="epsilon">RULE TEXT</h5>
                        <h6>Condition and Action</h6>
                        <div class="rule-text well"><span ng-bind-html="output"></span></div>
                    </div>
                </div>
                <!-- <rules-condition group="jsonObjCond.group"></rules-condition> -->
                <!--  </div> -->
            </div>
             <div class="alert alert-success alert-dismissable" ng-hide="success.message">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <strong>Success!</strong> The Rule Submitted Successfully.
                    <p>Please visit Dashboard to check the Rule details</p>
                </div>
             <button class="right btn btn-primary submit-button pull-right" ng-click="submitRule() ">SUBMIT</button>
        </div>
          
    </div>
    <script type="text/ng-template" id="/queryBuilderDirective.html">
        <div class="well query-builders">
            <div class="form-inline">
                <select ng-options="o.name as o.name for o in operators" ng-model="group.operator" class="form-control input-sm"></select>
                <button style="margin-left: 5px" ng-click="addCondition()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Condition</button>
                <button style="margin-left: 5px" ng-click="addGroup()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Group</button>
                <button style="margin-left: 5px" ng-click="removeGroup()" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Remove Group</button>
            </div>
            <div class="group-conditions">
                <div ng-repeat="rule in group.rules | orderBy:'index'" class="condition">
                    <br>
                    <div ng-switch="rule.hasOwnProperty('group')">
                        <div ng-switch-when="true">
                            <query-builder group="rule.group"></query-builder>
                        </div>
                        <div ng-switch-default="ng-switch-default">
                            <div class="form-inline">
                                <select ng-options="t.name as t.name for t in fields" ng-model="rule.field" class="form-control input-sm"></select>
                                <select style="margin-left: 5px" ng-options="c.name as c.name for c in conditions" ng-model="rule.condition" class="form-control input-sm"></select>
                                <input style="margin-left: 5px" type="text" ng-model="rule.data" class="form-control input-sm" />
                                <button style="margin-left: 5px" ng-click="removeCondition()" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="/rulesContition.html">
    </script>
    </div>
</blank-card>
//
<script>
$(document).ready(function() {
    $('.submit-button.btn:not([style-scope])').addClass('style-scope');
});
</script>
