<blank-card id="third-card">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="css/styles.css" rel="stylesheet">
   <img alt="" class="loading_image" ng-show="isLoading" src="images/25.gif">
  <div ng-show="!isLoading" class="container" >
    <div class="form-group">
		<div class="col-xs-4"> <a ui-sref="dashboards">Back</a></div>
		<div class="col-xs-8"><b>Rule Name : {{rulesDetails.ruleName}}</b></div>
	</div>
	<div class="col-xs-12"><hr style="border-top: 1px dotted black"/></div>
	 <div class="col-xs-12"><b>RULE CONDITIONS PARAMETERS</b></div>
	 <div class="col-xs-12"><hr/></div>
	 <div ng-repeat="ruleParameter in conditionParameterMap.conditionParameter">
	    <div class="form-group">
	   <label for="usr" class ="col-xs-2">{{ruleParameter.key}}</label>
       <input type="text" id="usr">
     </div>
     </div>
	 <div class="col-xs-12"><b>RULE ACTIONS PARAMETERS</b></div>
	 <div class="col-xs-12"><hr/></div>
	 <div ng-repeat="ruleParameter in formulaParameterMap.formulaParameter">
	    <div class="form-group">
		   <label for="usr" class ="col-xs-2">{{ruleParameter.key}}</label>
	       <input type="text" id="usr">
     	</div>
      </div>
  <button type="button" class="btn btn-default">Cancel</button>
  <button type="button" class="btn btn-success">Execute</button>
  </div>
</blank-card>