<blank-card id="third-card">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
   <img alt="" class="loading_image" ng-show="isLoading" src="images/25.gif">
   
  <div ng-show="!isLoading" class="container" >
  		<div ng-show="successExecution">
			<span  style="color:green; margin-left: 15px"><b>Rule Executed successfully</b></span>
	   </div>
	   
	   <div ng-show="successExecution">
	   	 <div class="col-xs-2">Result Value</div>
	   	 <div class="col-xs-10">{{rulesExecutionDetails.outputValue}}</div>
	   </div>
	 <div ng-show="successExecution">
	   <div class="col-xs-12"><hr style="border-top: 1px dotted black"/></div>
	   </div>
    <div class="form-group">
		<div class="col-xs-4"> <a ui-sref="dashboards">Back</a></div>
		<div class="col-xs-8"><b>Rule Name : {{rulesDetails.ruleName}}</b></div>
	</div>
	
	<div class="col-xs-12"><hr style="border-top: 1px dotted black"/></div>
	 <div class="form-group form-inline" ng-show="isCalculateExecute">
	    <div class="col-xs-2"><b>Condition Formula</b></div>
		<div class="col-xs-3">{{rulesDetails.conditionFormulaString}}</div>
		<div class="col-xs-2"><b>Rule Formula</b></div>
		<div class="col-xs-5">{{rulesDetails.ruleFormulaString}}</div>
		
	</div>
	 <div class="form-group" ng-show="isServiceExecute">
		<div class="col-xs-2"><b>Condition Formula</b></div>
		<div class="col-xs-3">{{rulesDetails.conditionFormulaString}}</div>
		<div class="col-xs-2"><b>Service URL</b></div>
		<div class="col-xs-5">{{rulesDetails.serviceURL}}</div>
	</div>
	<div class="form-group" ng-show="isDbFunction">
		<div class="col-xs-2"><b>Condition Formula</b></div>
		<div class="col-xs-3">{{rulesDetails.conditionFormulaString}}</div>
		<div class="col-xs-3"><b>DataBase Function Name</b></div>
		<div class="col-xs-4">{{rulesDetails.fName}}</div>
	</div>
	<div class="form-group" ng-show="isDbQuery">
		<div class="col-xs-2"><b>Condition Formula</b></div>
		<div class="col-xs-3">{{rulesDetails.conditionFormulaString}}</div>
		<div class="col-xs-2"><b>DataBase Query Name</b></div>
		<div class="col-xs-5">{{rulesDetails.qName}}</div>
	</div>
	<div class="col-xs-12"><hr style="border-top: 1px dotted black"/></div>
	 <div class="col-xs-12"><b>RULE CONDITIONS PARAMETERS</b></div>
	 <div class="col-xs-12"><hr/></div>
	 <div ng-repeat="conditionParameter in conditionParameterMap">
	    <div class="form-group">
	   <div class="col-xs-3"><b>{{conditionParameter.key}}</b></div>
       <input type="text" id="usr" ng-model="conditionParameter.value"/>
     </div>
     </div>
     <div class="col-xs-12"><hr style="border-top: 1px dotted black"/></div>
	 <div class="col-xs-12"><b>RULE ACTIONS PARAMETERS</b></div>
	 <div class="col-xs-12"><hr/></div>
	 <div ng-repeat="actionParameter in formulaParameterMap">
	    <div class="form-group">
		   <div class="col-xs-3"><b>{{actionParameter.key}}</b></div>
	       <input type="text" id="usr" ng-model="actionParameter.value" />
     	</div>
      </div>
    <div>  
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn btn-success" ng-click="ruleExecute()">Execute</button>
  </div>
  </div>
</blank-card>